<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Economica:ital,wght@0,400;0,700;1,400;1,700&family=Poiret+One&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Economica:ital,wght@0,400;0,700;1,400;1,700&family=Palanquin:wght@100;400;700&family=Poiret+One&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="css/style.css" />
    <title>Error</title>
  </head>
  <body>
    <div>
      <div class="box">
        <h1>404</h1>
        <div>
          <img src="img/eccc83.jpg" alt="perroAsco" />
          <h4>No se encontró la página</h4>
        </div>
      </div>
    </div>
  </body>
</html>
